- now = Time.zone.now

%h1.mt-2 イベント作成

= form_with(model: @event, class: "form-horizontal needs-validation", html: {novalidate: true}) do |f|
  #errors
  .mb-3
    = f.label :name, class: "form-label required"
    = f.text_field :name, class: "form-control", required: true, maxlength: "50", autofocus: true
    .invalid-feedback
      = "#{Event.human_attribute_name(:name)}を入力してください"
  .mb-3
    = f.label :place, class: "form-label required"
    = f.text_field :place, class: "form-control required", required: true, maxlength: "100"
    .invalid-feedback
      = "#{Event.human_attribute_name(:place)}を入力してください"
  .mb-3
    = f.label :start_at, class: "form-label required"
    %div
      = f.datetime_select :start_at, start_year: now.year, end_year: now.year + 1, required: true
      .invalid-feedback
        = "#{Event.human_attribute_name(:start_at)}を入力してください"
  .mb-3
    = f.label :end_at, class: "form-label required"
    %div
      = f.datetime_select :end_at, start_year: now.year, end_year: now.year + 1, required: true
      .invalid-feedback
        = "#{Event.human_attribute_name(:end_at)}を入力してください"
  .mb-3
    = f.label :content, class: "form-label required"
    = f.text_field :content, class: "form-control", row: 10, required: true, maxlength: "1000"
    .invalid-feedback
      = "#{Event.human_attribute_name(:content)}を入力してください"
  .mb-3
    = f.label :image, class: "form-label"
    = f.file_field :image, class: "form-control-file"
  = f.submit class: "btn btn-primary"
